<a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dateModal">Add Date</a>
<div class="modal fade" id="dateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dateModalLabel">Add Date</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'table' id %}" method="post">
                    {% csrf_token %}
                    <label for="date">Select Date:</label>
                    <input class="form-control mb-2" type="date" name="date" id="date" required>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
    </div>
</div>