{% extends 'base.html' %}

{% block title %}Table{% endblock %}

{% block content %}
{% if access %}
<a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dateModal">Add Date</a>
<a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#markModal">Set Mark</a>
<div class="modal fade" id="dateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dateModalLabel">Add Date</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'table' id %}" method="post">
                    {% csrf_token %}
                    <label for="date">Select Date:</label>
                    <input class="form-control mb-2" type="date" name="date" id="date">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="markModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="markModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="markModalLabel">Set Mark</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'table' id %}" method="post">
                    {% csrf_token %}
                    <select class="form-select my-2" name="student" aria-label="Select Student">
                        {% for student in students %}
                        <option>{{ student }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select my-2" name="date" aria-label="Select Date">
                        {% for date in dates %}
                        <option>{{ date.date }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select my-2" name="mark" aria-label="Select Mark">
                        <option selected>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            {% for date in dates %}
                <th scope="col">{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student, marks in students.items %}
            <tr>
                <th scope="row">{{ student }}</th>
                {% for mark in marks %}
                    <th>{{ mark.mark }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}